@import (reference) "variables.less";

.navbar {
	margin-bottom: 10px;
	font-size: 14px;
}

.navbar-inverse {
	.navbar-nav {
		> .active > a {
			&:hover,
	        &:focus {
				background-color: @navbarInverseLinkBackgroundHover;
				}
			}
		}
	}
	
// remove second level menu from collapsed navbar.
@media (max-width: @navbarCollapseWidth) {
	.dropdown-submenu > a:after{
		content: initial;
	}
}