@import (reference) "variables.less";


// Fix Broken Less in BS2 
#grid {
    .core  {
        .span(@gridColumns) {
            width: (@gridColumnWidth * @gridColumns) + (@gridGutterWidth * (@gridColumns - 1));
        }
    }
};


.navbar {
	margin-bottom: 10px;
	font-size: 14px;
}

.navbar-inverse {
	.navbar-nav {
		> .active > a {
			&:hover,
	        &:focus {
				background-color: @navbarInverseLinkBackgroundHover;
				}
			}
		}
	}
	
// remove second level menu from collapsed navbar.
@media (max-width: @navbarCollapseWidth) {
	.dropdown-submenu > a:after{
		content: initial;
	}
}

// Show list item when navbar collapsed 
.collapse-show {
	@media (min-width: (@navbarCollapseWidth + 1 )) {
		li {
			display: none;
		}
	}
}
// Hide list item when navbar collapsed 
.collapse-hide  {
	@media (max-width: @navbarCollapseWidth) {
		li {
			display: none;
		}
	}
}